/* Full Page */

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c7c7c7;
    display: grid;
    margin: 0;
}

/* Header */

.header {
    position: fixed;
    color: #c7c7c7;
    text-align: center;
}

.navbar-div {
    display: flex;
    flex-direction: column;
    background-color: #454545;
    width: 18rem;
    height: 100vh;
    padding: 2rem 0 2rem 0;
    box-shadow: 1px 0px 8px black;
}

.title {
    margin: 0;
    margin-bottom: 1.5rem;
}

.profile-pic {
    border-radius: 50%;
    box-shadow: 0px 0px 6px #c7c7c7;
    margin: 1rem 0 1rem 4rem;
    width: 10rem;
}

.button {
    color: #c7c7c7;
    font-size: 16px;
    text-decoration: none;
    width:auto;
    padding-top: 1.5rem;
    padding-bottom: 0;
}

.button:hover {
    color: #f5f5f5;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 1.3rem;
    margin-top: 1.2rem;
    font-size: 1.5rem;
}

/* All Grids */

section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #454545;
    margin-left: 22rem;
}

.hyperlinks {
    color: #454545;
    text-decoration: none;
}

.hyperlinks:hover {
    color: #f5f5f5;
}

/* First Grid: About */

.about-me {
    font-size: 1.4rem;
    text-align: left;
    position: absolute;
    top: 9rem;
    padding-right: 3rem;
    line-height: 1.5;
}

.about-logos {
    position: absolute;
    bottom: 0px;
    padding-bottom: 10rem;
    padding-left: 12rem;
    font-size: 6rem;
}

.devicon {
    padding-right: 5rem;
}

/* Second Grid: Projects */

.projects {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: left;
    padding: 2.5rem 3rem 3rem 0;
}

.project-box {
    display: flex;
    flex-direction: row;
    height: 45vh;
    padding-top: 0.5rem;
}

iframe{
    border-radius: 5px;
    height: 18rem;
    width: 33rem;
}

.project-text {
    width: 30rem;
    padding-left: 2rem;
    color: #454545;
}

/* Third Grid: Skills */

.skills {
    padding-top: 7rem;
}

/* Fourth Grid: Experience*/

.experience {
    padding-top: 1.5rem;
}

/* Fifth Grid: Education */

.education {
    padding-top: 5rem;
}

.degree {
    padding: -1rem;
}

.school-logo-name {
    display: flex;
    flex-direction: row;
}

.dm-degree-name {
    padding-top: 0.5rem;
    padding-left: 1.5rem;
}

.jw-degree-name {
    padding-left: 2rem;
}

.devmountian-logo {
    width: 4.5rem;
}

.jw-logo {
    width: 4.2rem;
}

.degree-details {
    padding-left: 6rem;
    padding-bottom: 3rem;
}



