/* Full Page */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Spectral", serif;
  background-color: hsl(0, 0%, 78%);
  display: grid;
  margin: 0;
}

/* Header */

.header {
  position: fixed;
  color: hsl(0, 0%, 78%);
  text-align: center;
}

.navbar-div {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 27%);
  width: 18rem;
  height: 100vh;
  padding: 2rem 0 2rem 0;
  box-shadow: 1px 0px 8px hsl(0, 0%, 0%);
}

.title {
  margin: 0;
  margin-bottom: 1.5rem;
}

.profile-pic {
  border-radius: 50%;
  box-shadow: 0px 0px 6px hsl(0, 0%, 78%);
  margin: 1rem 0 1rem 4rem;
  width: 10rem;
}

.button {
  color: hsl(0, 0%, 78%);
  font-size: 16px;
  text-decoration: none;
  width: auto;
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.button:hover {
  color: hsl(0, 0%, 96%);
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.linkedin-btn {
  transition: background-color 1s;
}

.linkedin-btn:hover {
  color: hsl(199, 85%, 46%);
}

.github-btn {
  transition: background-color 1s;
}

.github-btn:hover {
  color: hsl(0, 0%, 100%);
}

/* Scroll Snap (not implemented)*/
.scroller {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroller section {
  scroll-snap-align: start;
}

/* All Grids */

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: hsl(0, 0%, 27%);
  margin-left: 22rem;
}

.hyperlinks {
  color: hsl(0, 0%, 27%);
  text-decoration: none;
}

.hyperlinks:hover {
  color: hsl(0, 0%, 96%);
}

/* First Grid: About */

.about {
  display: flex;
  flex-direction: column;
}

.about-me {
  font-size: 1.4rem;
  text-align: left;
  padding-top: 8.5rem;
  padding-right: 3rem;
  line-height: 1.5;
}

.about-logos {
  padding-top: 5rem;
  padding-bottom: 10rem;
  padding-left: 8rem;
  font-size: 6rem;
}

.devicon {
  padding-right: 4rem;
}

/* Second Grid: Projects */

.projects {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: left;
  padding: 2.8rem 3rem 3rem 0;
}

.project-box {
  display: flex;
  flex-direction: row;
  height: 45vh;
}

iframe {
  border-radius: 5px;
  height: 18rem;
  width: 33rem;
}

.project-text {
  width: 30rem;
  margin-top: 0;
  padding-left: 2rem;
  color: #454545;
  margin-top: 0;
}

.project-title {
  margin: 0;
}

.project-business {
  margin: 0;
}

.project-desc {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
}

.repo {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

/* Third Grid: Skills */

.skills {
  padding-top: 3.1rem;
}

.skills-title {
  margin-bottom: 0;
}

.skills-list {
  margin-top: 0;
}

/* Fourth Grid: Experience*/

.experience {
  padding-top: 0rem;
}

.exp-title {
  margin-bottom: 0;
}

.exp-location {
  margin: 0;
}

.exp-dates {
  margin-top: 0;
}

/* Fifth Grid: Education */

.education {
  padding-top: 5rem;
}

.degree {
  padding: -1rem;
  margin-bottom: 2rem;
}

.school-logo-name {
  display: flex;
  flex-direction: row;
}

.dm-degree-name {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}

.jw-degree-name {
  padding-left: 2rem;
}

.sub-degree {
  padding-left: 1.5rem;
}

.devmountian-logo {
  padding-top: 1.5rem;
  width: 4.5rem;
  height: 4.5rem;
}

.jw-logo {
  padding-top: 1.9rem;
  width: 4.5rem;
  height: 4.5rem;
}

.degree-details {
  padding-left: 6rem;
  padding-bottom: 3rem;
}
