html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: hsl(208, 18%, 35%);
}

/* Header */

.header {
  color: hsl(210, 100%, 42%);
  position: fixed;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.navbar-div {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  width: 18rem;
  height: 100vh;
  padding: 2rem 0 2rem 0;
  border-right: 3px solid hsl(210, 33%, 96%);
}

.nav-bar-name {
  margin-bottom: 0;
  font-size: 1.65rem;
}

.nav-bar-title {
  color: hsl(211, 61%, 10%);
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.profile-pic {
  border-radius: 15%;
  margin: 0rem 0 1rem 3rem;
  width: 12rem;
}

.button {
  color: hsl(211, 61%, 10%);
  font-size: 1rem;
  text-decoration: none;
  width: fit-content;
  margin: 0;
  padding: 0.8rem;
  border-radius: 15px;
}

.about-btn {
  margin-left: 6.9rem;
}

.projects-btn {
  margin-left: 6.4rem;
}

.skills-btn {
  margin-left: 7rem;
}

.exp-btn {
  margin-left: 5.9rem;
}

.edu-btn {
  margin-left: 6.1rem;
  margin-bottom: 0.4rem;
}

.button:hover {
  color: hsl(208, 18%, 35%);
  background-color: hsl(210, 33%, 96%);
}

.navbar-logo-div {
  margin: 0.8rem;
}

.nav-bar-logo {
  color: hsl(210, 100%, 45%);
  font-size: 1.3rem;
  padding: 0.3rem 0.3rem 0rem 0.3rem;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid hsl(210, 33%, 76%);
}

.nav-bar-logo:hover {
  color: hsl(210, 100%, 42%);
  background-color: hsl(210, 33%, 96%);
}

/* Snap to section option  */
.scroller {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroller section {
  scroll-snap-align: start;
}

/* All Grids */

section {
  display: flex;
  flex-direction: column;
}

.hyperlinks {
  color: hsl(210, 100%, 42%);
  text-decoration: none;
}

.hyperlinks:hover {
  background-color: hsl(0, 0%, 100%);
}

/* First Grid: About */

.about {
  display: flex;
  flex-direction: column;
  padding-left: 22rem;
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
}

.about-me-div {
  margin-top: 7.25rem;
  padding: 0rem 1.8rem 0rem 1.8rem;
  border-radius: 10px;
  width: 62rem;
  background: linear-gradient(
    to right,
    hsl(210, 100%, 45%),
    hsl(210, 100%, 42%)
  );
}

.about-me {
  color: hsl(0, 0%, 100%);
  font-size: 1.28rem;
  text-align: left;
  line-height: 1.5;
}

.about-logos {
  display: flex;
  flex-direction: row;
  color: hsl(210, 100%, 42%);
  padding: 9rem 0 10rem 6rem;
  font-size: 6rem;
}

.devicon {
  padding-right: 6rem;
}

/* Second Grid: Projects */

.projects-section {
  background-color: hsl(210, 33%, 96%);
  width: 98.9vw;
  height: 100vh;
}

.projects {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: left;
  padding: 2.8rem 0 0 0;
  padding-left: 22rem;
}

.project-box {
  display: flex;
  flex-direction: row;
  height: 18rem;
  width: 66rem;
  margin-bottom: 3rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  border: 1px solid hsl(210, 33%, 76%);
}

iframe {
  margin: 1rem 0 0 1rem;
  border-radius: 10px;
  height: 16rem;
  width: 33rem;
}

.project-text {
  width: 30rem;
  margin-top: 1rem;
  padding-left: 2rem;
}

.project-title {
  color: hsl(210, 100%, 42%);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.project-business {
  color: hsl(211, 61%, 10%);
  margin: 0;
}

.project-desc {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-right: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
}

.github-repo {
  margin-top: 1.7rem;
}

.repo {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.proj-skill-list {
  color: hsl(211, 61%, 10%);
}

.proj-launch {
  color: hsl(211, 61%, 10%);
}

/* Third Grid: Skills */

.skills-section {
  background-color: hsl(211, 61%, 21%);
  width: 98.9vw;
}

.skills {
  padding-top: 6rem;
  padding-left: 22rem;
  height: 100vh;
}

.skills-title {
  color: hsl(206, 79%, 78%);
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.skills-list {
  margin-top: 0;
  color: hsl(0, 0%, 100%);
}

/* Fourth Grid: Experience*/

.experience {
  padding-top: 2.2rem;
  background-color: hsl(0, 0%, 100%);
  padding-left: 22rem;
  height: 100vh;
}

.exp-div {
  border: 1px solid hsl(210, 33%, 76%);
  border-radius: 10px;
  background-color: hsl(210, 100%, 42%);
  width: 47rem;
  padding: 0 0 0 1.3rem;
  margin: 0 0 2rem 0;
  font-size: 0.85rem;
  color: hsl(210, 33%, 96%);
}

.exp-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.exp-location {
  margin: 0;
}

.exp-dates {
  margin-top: 0;
}

/* Fifth Grid: Education */

.education-section {
  width: 98.9vw;
  height: 100vh;
}

.education {
  padding-top: 6rem;
  padding-left: 22rem;
  background-color: hsl(210, 33%, 96%);
  height: 100vh;
}

.degree-div {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(210, 33%, 76%);
  margin-bottom: 5rem;
  width: 37rem;
  border-radius: 10px;
}

.school-logo-name {
  display: flex;
  flex-direction: row;
}

.dm-degree-name {
  color: hsl(210, 100%, 42%);
  font-family: "Roboto", sans-serif;
  padding-left: 0.2rem;
  margin-bottom: 0;
}

.sub-degree {
  padding-left: 0.3rem;
  margin: 0.2rem 0 0 0;
}

.devmountian-logo {
  padding: 0.3rem 0 0 0;
  width: 7rem;
  height: 7rem;
}

.jw-logo {
  padding: 1rem 0 0.9rem 1rem;
  margin-right: 0.6rem;
  width: 5.8rem;
  height: 5.8rem;
}

.degree-details {
  padding-left: 6rem;
  padding-bottom: 3rem;
}
